@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes display-loader {
  0% {
    opacity: 1;
    z-index: 100;
  }
  90% {
    opacity: 0;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
.bold {
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: 100%;
  height: 9vh;
  z-index: 10;
  padding-top: 0.5rem;
  font-family: "Shrikhand";
  background-color: white;
  box-shadow: 0 0 5px #777;
  font-size: 1rem;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  z-index: 9;
}

.localization {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color: #eaeaea;
}
.localization .fas {
  padding-right: 0.5rem;
  font-size: 1.5rem;
  color: #494545;
}
.localization input {
  text-align: center;
  width: 40%;
  min-width: 5rem;
  border: none;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1rem;
  background-color: #eaeaea;
  color: #494545;
}

.introduce {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 3rem 1rem;
  width: 100%;
  background-color: #f2f2f2;
}
.introduce h2 {
  text-align: center;
  margin: 0 0;
  padding: 0 3rem;
  font-family: "Roboto";
}
.introduce p {
  text-align: center;
  font-family: "Roboto";
  margin: 1rem 0 2rem;
  font-size: 1.2rem;
  font-weight: 100;
  color: #494545;
}
.introduce a {
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 50rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-family: "Roboto";
  background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
  color: white;
  transition: all 0.3s ease-in-out;
}
.introduce a:hover {
  background: linear-gradient(to bottom, #ff79da 50%, #9356dc 100%);
  box-shadow: 0px 5px 21px -2px #777;
  cursor: pointer;
}

.block-site-operation {
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 3rem;
}
.block-site-operation > h3 {
  align-self: flex-start;
  font-family: "Roboto";
  padding-left: 1.5rem;
  font-size: 1.5rem;
}
.block-site-operation .number-step {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  width: 1rem;
  height: 1rem;
  margin-right: -1rem;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: #9356dc;
  font-family: "Roboto";
  font-size: 1rem;
  color: white;
}

.menu-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.list-of-steps {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.list-of-steps .steps {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-family: "Roboto";
  white-space: nowrap;
  padding: 1.5rem;
  border: none;
  border-radius: 1rem;
  background-color: #f2f2f2;
  font-size: 1.1rem;
  font-weight: bold;
  box-shadow: 0px 5px 21px -2px #777;
}
.list-of-steps .steps .icone {
  display: flex;
  justify-content: flex-end;
  width: 2rem;
  padding-right: 1.5rem;
  font-size: 1.3rem;
  color: #555252;
}
.list-of-steps .steps .icone .fas:hover {
  color: #9356dc;
}

#restaurant-main-block {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f2f2f2;
}
#restaurant-main-block h3 {
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  font-family: "Roboto";
  font-size: 1.5rem;
}

.block-restaurant-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.block-restaurant-description a {
  text-decoration: none;
  color: black;
}
.block-restaurant-description .fa-heart {
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  height: 100%;
  margin-right: 1rem;
  font-size: 2rem;
  color: #494545;
  transition: color 0.3s ease-in-out;
}
.block-restaurant-description .fa-heart:hover {
  font-weight: bold;
  color: transparent;
  cursor: pointer;
}

.restaurant-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
}
.restaurant-list .restaurant {
  width: 90%;
  margin-bottom: 2rem;
  border-radius: 15px;
  background-color: white;
}
.restaurant-list .restaurant .new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20vw;
  padding: 0.5rem;
  margin-bottom: -3rem;
  margin-right: 1rem;
  background-color: #99e2d0;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1rem;
  color: #22866d;
}

.restaurant-pictures {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin: 0;
}
.restaurant-pictures img {
  object-fit: cover;
  width: 100%;
  height: 28vh;
  border-radius: 15px 15px 0 0;
}

.menu-restaurant {
  margin-left: 1rem;
}
.menu-restaurant h4 {
  margin: 0.2rem;
  font-size: 1.3rem;
  font-family: "Roboto";
}
.menu-restaurant .location-restaurant {
  display: inline;
  margin: 0;
  font-family: "Roboto";
  font-size: 1.2rem;
  color: #494545;
}

footer {
  box-sizing: content-box;
  height: 25vh;
  padding: 2rem 0 2rem 2rem;
  background-color: #3d3a3a;
  z-index: 8;
}
footer > .logo-footer {
  display: flex;
  align-items: center;
  align-content: space-between;
  box-sizing: content-box;
  width: 90%;
  padding-bottom: 2rem;
  margin: 0;
  padding: 0;
  font-family: "Shrikhand";
  font-size: 1.5rem;
  color: white;
}

.rubric-list {
  box-sizing: content-box;
  list-style: none;
  width: 90%;
  padding: 0;
  font-family: "Roboto";
  font-size: 1rem;
  color: white;
}
.rubric-list .fas {
  width: 1.5rem;
  padding-right: 0.5rem;
}
.rubric-list > li {
  padding-bottom: 0.5rem;
}
.rubric-list > li a {
  text-decoration: none;
  color: white;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 0.5s linear 1s forwards display-loader;
}

#loading {
  width: 7rem;
  height: 7rem;
  border: 5px solid #ff79da;
  border-radius: 20rem;
  border-left: 5px solid transparent;
  animation: loading 1s linear infinite;
}

/*# sourceMappingURL=style.css.map */
